<div class="welcome">
        <div class="welcome-title">
                <h3> Welcome to the Cross/Cupid Data Quality Monitoring </h3>
        </div>
        <div class="welcome-text">
                <p>
                Plots are in the <a class="welcome-link" href=/runs>Runs</a> tab, ordered in
                folders with the same structure as the acquired runs. Additionally,
                they are grouped by runs and chunks, as the DAQ writes the data.
                </p>
                <p>
                Documentation on how the plots are produced is available <a class="welcome-link" href="">here</a>.
                </p>
        </div>
</div>
